.btn-primary {
    background-image: -webkit-linear-gradient(top,#337ab7 0,#265a88 100%);
    background-image: -o-linear-gradient(top,#337ab7 0,#265a88 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#337ab7),to(#265a88));
    background-image: linear-gradient(to bottom,#1a106d 0,#265a88 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff265a88', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
    border-color: #245580;
}

.navbar-inverse {
    background-image: -webkit-linear-gradient(top,#3c3c3c 0,#222 100%);
    background-image: -o-linear-gradient(top,#3c3c3c 0,#222 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#3c3c3c),to(#222));
    background-image: linear-gradient(to bottom,#ffffff 0,#dcdcdc 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3c3c3c', endColorstr='#ff222222', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
    border-radius: 4px;
}

.navbar-inverse {
    background-color: #791212;
    border-color: #ffffff;
}